/* Color Theme Swatches in Hex */
$color-1-hex: #BF0426;
$color-2-hex: #D94AA7;
$color-3-hex: #03A6A6;
$color-4-hex: #F2AC29;
$color-5-hex: #D97904;

$color-1-transp: transparentize($color-1-hex, 0.5);

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(191,3,38, 1);
$color-2-rgba: rgba(216,73,166, 1);
$color-3-rgba: rgba(3,165,165, 1);
$color-4-rgba: rgba(242,171,41, 1);
$color-5-rgba: rgba(216,121,4, 1);

/* Color Theme Swatches in HSLA */
$color-1-hsla: hsla(348, 96, 38, 1);
$color-2-hsla: hsla(320, 65, 56, 1);
$color-3-hsla: hsla(180, 96, 33, 1);
$color-4-hsla: hsla(39, 88, 55, 1);
$color-5-hsla: hsla(33, 96, 43, 1);
