*,
*::before,
*::after {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: aliceblue;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
  font-family: Prompt, Geneva, Verdana, Tahoma, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  width: 100vw;
  background-color: #006666;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#100a33), to(transparent)), url("./img/otkup-zagreb-zalagaonica.webp");
  background-image: linear-gradient(to top, #100a33, transparent), url("./img/otkup-zagreb-zalagaonica.webp");
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 16px 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex img {
  border-radius: 10px;
  margin: auto;
}

.flex div {
  margin: 0px;
}

.flex a {
  margin: 8px 24px;
}

#h1-h2 {
  color: #2b2a2a44;
  text-align: left;
  -webkit-animation: shadow 1.6s ease-in forwards;
          animation: shadow 1.6s ease-in forwards;
}

#h1-h2 h1 {
  margin: 60px 20px 60px 60px;
  font-size: 4rem;
}

#h1-h2 h2 {
  margin: 20px 20px 60px 60px;
}

@-webkit-keyframes shadow {
  0% {
    text-shadow: none;
  }
  33% {
    text-shadow: 4px 4px 16px cyan;
  }
  66% {
    text-shadow: none;
  }
  75% {
    color: cyan;
  }
  100% {
    color: cyan;
    text-shadow: 8px 8px 24px black, 8px 8px 32px violet;
  }
}

@keyframes shadow {
  0% {
    text-shadow: none;
  }
  33% {
    text-shadow: 4px 4px 16px cyan;
  }
  66% {
    text-shadow: none;
  }
  75% {
    color: cyan;
  }
  100% {
    color: cyan;
    text-shadow: 8px 8px 24px black, 8px 8px 32px violet;
  }
}

#karta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#karta p {
  margin: 16px 12% 0px 12%;
}

#karta iframe {
  margin-right: 10%;
}

@media screen and (max-width: 1120px) {
  #karta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #karta img {
    display: none;
  }
  #karta p {
    margin: 16px 8%;
  }
  .icon img {
    width: 35px;
  }
  .icon {
    margin: 8px 4px;
    font-size: 80%;
  }
  #icons {
    margin: 0px 0px 18px 0px;
  }
  #h1-h2 h1 {
    margin: 20px 10px 40px 20px;
    font-size: 2.4rem;
  }
  #h1-h2 h2 {
    margin: 20px 10px 40px 20px;
    font-size: 1.2rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#100a33), to(transparent));
  background-image: linear-gradient(to bottom, #100a33, transparent);
  margin-top: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

footer p {
  color: #006666;
  margin: auto;
  margin-top: 60px;
}

footer div {
  margin: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer div a {
  color: aliceblue;
  text-decoration: none;
  margin: 16px;
}

footer div a::after ::before {
  color: aliceblue;
}

footer div a:active {
  color: black;
}

nav {
  top: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-shadow: 2px 2px 2px aliceblue;
  text-shadow: 0px 0px 2px aliceblue;
  position: relative;
  -webkit-animation: nav 1.4s ease-in forwards;
          animation: nav 1.4s ease-in forwards;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

@-webkit-keyframes nav {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes nav {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

ul {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: inline-block;
  border-left: aliceblue 1px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 8px;
  background: rgba(180, 154, 163, 0.515);
  font-weight: bold;
  font-size: 110%;
}

nav li:hover {
  background: rgba(92, 57, 69, 0.715);
  -webkit-box-shadow: 1px 2px 16px violet;
          box-shadow: 1px 2px 16px violet;
  text-shadow: 1px 1px 4px aliceblue, 2px 2px 8px violet;
}

nav li a {
  color: #2b2a2a;
  text-decoration: none;
}

nav li a::after {
  text-decoration: none;
  color: #2b2a2a;
}

nav li a:active {
  color: lightgray;
  text-shadow: 1px 1px 8px black;
}

main {
  max-width: 90%;
}

strong {
  -webkit-text-decoration: 2px underline aliceblue;
          text-decoration: 2px underline aliceblue;
}

#zalagaonica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#zalagaonica a {
  color: black;
  text-decoration: none;
}

#zalagaonica a:active {
  color: cyan;
}

#zalagaonica a::before {
  color: black;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, from(cyan), color-stop(transparent), color-stop(transparent), color-stop(transparent), color-stop(transparent), color-stop(transparent), to(transparent));
  background-image: linear-gradient(to top, cyan, transparent, transparent, transparent, transparent, transparent, transparent);
  min-height: 280px;
  margin: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0px;
  -webkit-box-shadow: 2px 4px 8px violet;
          box-shadow: 2px 4px 8px violet;
}

.card h2,
.card h3 {
  text-align: center;
}

.card:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: 4px 8px 16px violet;
          box-shadow: 4px 8px 16px violet;
}

.card:active {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 0px 0px 4px violet;
          box-shadow: 0px 0px 4px violet;
}

.card img {
  max-width: 320px;
  max-height: 155px;
  margin: 8px 0px;
}

.h3-h4 {
  min-height: 14%;
  text-shadow: 1px 1px cyan;
  font-size: 90%;
}

#h1-h2-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px 8px 8px 8px;
  -webkit-animation: icons 1.2s ease-in forwards;
          animation: icons 1.2s ease-in forwards;
}

@-webkit-keyframes icons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes icons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon {
  margin: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 2px 8px black, 2px 4px 16px violet;
}

.icon:hover {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.icon:active {
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}

.text {
  background-color: cyan;
  margin: 16px 80px;
  width: 100%;
}

.text p {
  margin: 32px 8% 0px 8%;
  font-size: 105%;
  line-height: 1.4em;
}

.text h2,
.text h3 {
  margin: 32px 8% 0px 8%;
  text-shadow: 2px 2px 4px #99ffff, 1px 1px 8px #006666;
}

.text div {
  margin-bottom: 32px;
}

.text ul {
  display: block;
  margin: 8px 16% 16px;
}

#ne h2 {
  -webkit-text-decoration: 2px underline violet;
          text-decoration: 2px underline violet;
}

#location {
  background-color: aliceblue;
  width: 100%;
  margin-bottom: 24px;
}

#otkup-mobitela p {
  margin: 8px 8%;
  font-size: 105%;
  line-height: 1.4em;
}

#otkup-mobitela h2,
#otkup-mobitela h3 {
  margin: 32px 2% 0px 8%;
  text-shadow: 2px 2px 4px #99ffff, 1px 1px 8px #006666;
}

#otkup-mobitela ul {
  display: block;
  margin: 4px 2% 16px 16%;
}

@media screen and (max-width: 780px) {
  header {
    min-height: 40vh;
  }
  #h1-h2 {
    color: #2b2a2a00;
    text-align: left;
    -webkit-animation: shadow 1.2s ease-in forwards;
            animation: shadow 1.2s ease-in forwards;
    text-shadow: none;
  }
  #h1-h2 h1 {
    margin: 20px 20px 40px 20px;
    font-size: 2.4rem;
  }
  #h1-h2 h2 {
    margin: 20px 20px 40px 20px;
    font-size: 1.2rem;
  }
  @-webkit-keyframes shadow {
    33% {
      text-shadow: 4px 4px 16px cyan;
    }
    66% {
      text-shadow: none;
    }
    100% {
      color: cyan;
      text-shadow: 8px 8px 24px black, 8px 8px 32px violet;
    }
  }
  @keyframes shadow {
    33% {
      text-shadow: 4px 4px 16px cyan;
    }
    66% {
      text-shadow: none;
    }
    100% {
      color: cyan;
      text-shadow: 8px 8px 24px black, 8px 8px 32px violet;
    }
  }
  span {
    display: none;
  }
  .icon img {
    width: 30px;
    height: 30px;
  }
  .icon {
    margin: 0px 0px;
    font-size: 80%;
  }
  #icons {
    margin: 24px 0px 24px 0px;
  }
  .card {
    min-height: 220px;
    margin: 16px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .card img {
    max-width: 260px;
    max-height: 120px;
    margin: 8px 0px;
  }
  .text {
    margin: 8px;
  }
  .text p {
    margin: 32px 24px 0px 24px;
  }
  .text h2,
  .text h3 {
    margin: 32px 24px 0px 24px;
    text-shadow: 2px 2px 4px #99ffff, 1px 1px 8px #006666;
  }
  .text div {
    margin-bottom: 32px;
  }
  button {
    min-width: 60%;
  }
  .footer-ul {
    font-size: 90%;
    margin: 0px;
    display: block;
  }
  .footer-ul :last-child {
    display: inline;
    margin: 0px;
  }
  .footer-ul :nth-child(2) {
    display: inline;
    margin: 0px;
  }
  .footer-ul :nth-child(3) {
    display: inline;
    margin: 0px;
  }
}

button {
  border: none;
  border-radius: 4px;
  display: block;
  margin: 24px auto;
  width: 16%;
  min-height: 10%;
  line-height: 2;
  font-size: medium;
  font-family: Prompt, Geneva, Verdana, Tahoma, sans-serif;
  -webkit-box-shadow: 8px 8px 32px violet;
          box-shadow: 8px 8px 32px violet;
}

button:active {
  -webkit-box-shadow: 2px 2px 16px violet;
          box-shadow: 2px 2px 16px violet;
}

button:hover {
  background-color: aliceblue;
}

#hide {
  display: none;
}

.footer-ul {
  color: aliceblue;
  list-style: none;
}

.footer-ul li {
  margin-top: 8px;
}

.share {
  list-style: none;
}

.share li {
  margin: 8px 24px;
}

.share li img {
  max-width: 40px;
}

#error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#error img {
  max-width: 260px;
  border-radius: 25%;
}

#error p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#error ul {
  display: block;
  margin-left: 4%;
}
/*# sourceMappingURL=style.css.map */