@import "./fonts";
@import "./colors";

*, *::before, *::after {
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $color-4-hex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    align-items: center;
    align-content: center;
    justify-content: center;
}

header {
    display: flex;
    min-height: 50vh;
    width: 100vw;
    background-color: $color-5-hex;
    background-image: linear-gradient(to top, $color-5-hex, transparent, transparent), linear-gradient(to bottom, $color-5-hex, transparent, transparent, transparent), url("./phones.jpg");
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 16px;
    box-shadow: 0px 8px 16px  $color-3-hex;
}
    
#h1-h2 {
    color: #2b2a2a44;
    text-align: left;
    animation: shadow 1.5s ease-in forwards;
    text-shadow: none;
    & h1{
        margin: 60px 0px 60px 60px;
        font-size: 4rem;
    }
    & h2 {
        margin: 20px 0px 60px 60px;
    }      
}

@keyframes shadow {
    0%{text-shadow: none;}
    33%{text-shadow: 4px 4px 16px $color-3-hex;}
    66%{text-shadow: none;}
    75%{color: $color-3-hex;}
    100%{color: $color-3-hex; text-shadow: 8px 8px 24px black, 4px 4px 16px black;}
}

footer {
    display: flex;
    min-height: 100px;
    min-width: 100%;
    background-color: $color-5-hex;
    margin-top: auto;
    
}

nav {
    top: 0px;
    flex: 1;
    text-shadow: 2px 2px 2px whitesmoke;
    text-shadow: 0px 0px 2px whitesmoke;
    position: relative;
    animation: nav 1.5s ease-in forwards;
    transform: translateY(-40px);
}

@keyframes nav {
    0%{transform: translateY(-40px);}
    100%{transform: translateY(0px);}
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    
}

nav li {
    display: inline-block;
    border-left: $color-2-hex 1px solid;
    flex: 1;
    text-align: center;
    padding: 8px;
    background:rgba(180, 154, 163, 0.515);
    font-weight: bold;
    &:hover {
        background:rgba(92, 57, 69, 0.715);
        box-shadow: 1px 2px 16px $color-2-hex;
    }
}

nav li a {
    color: $color-3-dark;
    text-decoration: none;
    &::after {
        text-decoration: none;
        color: $color-3-dark;
    }
    &:active {
        color: $color-4-hex;
        text-shadow: 1px 1px 8px black;
    }
}

main {
    max-width: 80%;

}

#zalagaonica {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-4-hex;
    background-image: linear-gradient(to top, $color-1-transp, transparent, transparent,);
    width: 310px;
    height: 420px;
    margin: 32px;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 0px;
    box-shadow: 4px 8px 16px  $color-3-hex;
    color: $color-1-hex;
    & h3, h4 {
        text-align: center;
        margin: 4px;
    }
    &:hover {
        transform: translate(4px, 4px);
        box-shadow: 16px 16px 40px  $color-3-hex;
        cursor: pointer;
    }
    &:active {
        transform: translate(-4px, -4px);
        box-shadow: 1px 1px 8px  $color-3-hex;
    }
    & img {
        max-width: 100%;
        max-height: 100%;
        margin: 8px 0px;
    }
}

.h3-h4 {
    height: 12%;
}

#h1-h2-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#icons {
    display: flex;
    flex-direction: column;
    margin: 8px;
    animation: icons 1.5s ease-in forwards;
    transform: translateX(100px);
}

@keyframes icons{
    0%{transform: translateX(100px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}

}

.icon{
    margin: 32px 8px;
    width: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-4-hex;
    text-shadow: 1px 1px 4px black, 4px 4px 16px black;
    font-size: 100%;
}

@media screen and (max-width: 780px) {
    #h1-h2 {
        color: #2b2a2a44;
        text-align: left;
        animation: shadow 1.5s ease-in forwards;
        text-shadow: none;
        & h1{
            margin: 20px 0px 60px 40px;
            font-size: 2.8rem;
        }
        & h2 {
            margin: 20px 10px 40px 40px;
        }      
    }
    
    @keyframes shadow {
        0%{text-shadow: none;}
        33%{text-shadow: 4px 4px 16px $color-3-hex;}
        66%{text-shadow: none;}
        75%{color: $color-3-hex;}
        100%{color: $color-3-hex; text-shadow: 8px 8px 24px black, 4px 4px 16px black;}
    }
    
    span {
        display: none;
    }
    .icon img {
        width: 50px;
    }
    main {
        max-width: 100%;
    }
    .icon {
        margin: 32px 0px;
    }
    .card {
        margin: 16px;
    }
}